@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100;200;300;400;500;600&family=Open+Sans:ital,wght@0,400;0,600;1,800&family=Oswald:wght@200;400;600&family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,900;1,100&family=Ubuntu:wght@300;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

body{
	margin: 3%;
	background-color: aqua;	
	font-family: 'Comme', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Oswald', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Ubuntu', sans-serif;
}

a{
	text-decoration: none;
	font-size: 1.5em;	
	border-radius: 20px;
	padding: 7px 5px;	
	background-color: yellow;
	
}



h1 {
	font-size: 4em;
	margin-top: 5%;
	color: white;
}

form{
	width: 90vw;
	
}

form td {
	font-size: 1.6em;
	padding: 5px;
}

form input{
	height: 30px;
	
}

#btn3{
	background-color: aqua;
	border: none;
	box-shadow: 1px 2px;
	cursor: pointer;
	padding: 3px;
	width: 100px;
	font-weight: bold;
}

#btn3:hover{
	color: white;
	background-color: blue;
}
